@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>ColdSnap - Snapchat client for Windows Phone</title>

	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
	
	<style>
		body {
			margin: 0;
			padding: 0;

			font-family: 'Open Sans', sans-serif;
			text-rendering: optimizeLegibility;
		}
		.section-container {
			margin: 0;
			padding: 0;
		}

		.section-container.alpha {
			background: #3cb2e2;
			color: white;
		 }
		.section-container.bravo {
			background: white;
			color: #1b1b1b;
		}
        .section-container.chavo {
			background: white;
			color: #808080;
            text-align: center;
            font-size: 10px;
		}

		#le-matt-branding {
			background-image: url("../../Content/Images/app logo.png");
			background-position: center left;
			background-size: 150px 150px;
			background-repeat: no-repeat;

			height: 150px;
			width: 150px;
			margin: 0 auto;
		}
		#le-matt-branding > span {
			display: none;
		}
		#app-preview {
			height: 820px;
			color: white;
			text-align: center;

			background-image: url(../../Content/Images/phone-preview.png);
			background-position: bottom center;
			background-size: 770px 471px;
			background-repeat: no-repeat;
		}
		#app-preview > h1 {
			margin-top: -10px;
			font-size: 35px;
			font-weight: 300;
		}
		#app-preview > h2 {
			margin-top: -20px;
			font-size: 25px;
			font-weight: 400;
		}

	</style>
</head>
	<body>
		<!--  -->
		<div class="section-container alpha" id="app-preview">
			<div id="le-matt-branding"></div>
			<h1>ColdSnap</h1>
			<h2>Snapchat client for Windows Phone</h2>
            <a href="http://xboxchaos.com"><img src="~/Content/Images/258x67_WPS_Download_blk.png"/></a>
		</div>
		
		<!--  -->
		<div class="section-container bravo">

		</div>

		<footer class="section-container chavo">
			<p>&copy; @DateTime.Now.Year Alex Reed, Matt Saville, Kaelan Fouwels, and Collin Dillinger</p>
		</footer>

		@Scripts.Render("~/bundles/jquery")
	</body>
</html>
